<!DOCTYPE html>
<html lang="en">
<head>
  {% load fullurl staticfiles %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="shortcut icon" href="{% fullstatic 'favicon.ico' %}?v={{ APP_VERSION }}" type="image/x-icon"/>
  {% block meta %}
  {% endblock meta %}

  <title>{{ page_title_ }} | {{ APP_NAME }}</title>

  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% mix 'css/app.css' %}" type="text/css"/>

  {% block stylesheets %}
  {% endblock stylesheets %}
</head>
<body>
  <div id="app">
    {% block main %}
    {% endblock main %}
  </div>

  <script type='text/javascript'>
    window.App = {
      csrfToken: '{{ csrf_token }}',
      static_url: '{{ STATIC_URL }}',
    }
  </script>

  <script type="text/javascript" src="{% mix 'js/manifest.js' %}"></script>
  <script type="text/javascript" src="{% mix 'js/vendor/jquery.js' %}"></script>
  <script type="text/javascript" src="{% mix 'js/vendor/vue.js' %}"></script>
  <script type="text/javascript" src="{% mix 'js/vendor/common.js' %}"></script>
  <script type="text/javascript" src="{% mix 'js/app.js' %}"></script>

  {% block javascripts %}
  {% endblock javascripts %}
</body>
</html>
